.container {
  width: 100%;
}
.containerInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.containerInput label {
  color: var(--blue);
  font-weight: bold;
}
.containerInput input {
  background-color: white;
  border: 1px solid black;
  height: 20px;
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--blue)
}

.container textarea {
  width: 100%;
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
  padding: 2px 5px;
  box-sizing: border-box;
  height: 100px;
}

.containerButton {
  width: 100%;
  display:flex;
  justify-content: center;
  margin-top: 7px;
}