.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(70vh - 100px);
}
.title {
  font-size: 4.2em;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 20px;
}
.description {
  font-size: 1em;
  line-height: 1.2em;
  margin: 5px;
}
.description:last-of-type {
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .container {
    height: 100%;
    min-height: 400px;
  }
}